/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Here is one of many  CSS rules you will need... */

a {
    text-decoration: none;
}

#link {
    width: 20%;
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* color: #fefefe !important;
    background-color: #354eb1; */
}

#one {
    margin: 5px;
    padding: 5px;
    position: fixed;
    right: 7%;
    bottom: 10%;
    width: 25%;
    border: solid 5px;
    border-color: blue;
}

#two {
    margin: 5px;
    padding: 5px;
    position: fixed;
    right: 7%;
    top: 10%;
    width: 25%;
    border: solid 5px;
    border-color: green;
}

#three {
    margin: 5px;
    padding: 5px;
    position: fixed;
    left: 7%;
    top: 10%;
    width: 25%;
    border: solid 5px;
    border-color: orange;
}

#four {
    margin: 5px;
    padding: 5px;
    position: fixed;
    left: 7%;
    bottom: 10%;
    width: 25%;
    border: solid 5px;
    border-color: yellow;
}